---
layout: default
---


<div class="col-6 col-12-narrower">
  <section class="box special">
    <span class="image featured">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/3IvyFDL9ezY" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </span>
  </section>
</div>

<div class="col-6 col-12-narrower">
  <section class="box special">
    <span class="image featured">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/umN-KnxQhkY" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </span>
  </section>
</div>

<div class="col-6 col-12-narrower">
  <section class="box special">
    <span class="image featured">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/dUrIt4JWliM" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </span>
  </section>
</div>

<div class="col-6 col-12-narrower">
  <section class="box special">
    <span class="image featured">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/EiYU82nQzPs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </span>
  </section>
</div>